@import "tailwindcss";

@font-face {
  font-family: "Neue Haas Grotesk Display Pro 55 Roman";
  src: url("/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: var(
    --token-d5b73f8b-d3c4-4907-a72f-f1bb5d3c6a5f,
    rgb(105, 105, 105)
  );
  --text-color: var(
    --token-d5b73f8b-d3c4-4907-a72f-f1bb5d3c6a5f,
    rgb(105, 105, 105)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(
      --token-d5b73f8b-d3c4-4907-a72f-f1bb5d3c6a5f,
      rgb(105, 105, 105)
    );
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Neue Haas Grotesk Display Pro 55 Roman",
    "Neue Haas Grotesk Display Pro 55 Roman Placeholder", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.main-container {
  padding: 96px 96px 62px;
}
